.brd {
  width: 150px;
  height: 1px;
  background-color: white;
}
h4 {
  list-style-type: none !important;
}
.home {
  background-image: url(../../img/title-image-1.eb5e2899315f131fed94.webp);
  background-position: center;
  background-size: cover;

  height: 50vh;

  position: relative;
}
.homeOne {
  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.imgCur {
  width: 50px;
}
